<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WatchClock</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika:300,400,500,700">
    <link rel="stylesheet" href="/css/Footer-Basic.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body>
<section id="start" style="/*width: 100%;*//*height: 100vh;*/">
    <div id="start_head">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid">
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ml-auto" style="text-align: right;font-size: 20px;color: rgb(16, 85, 92);">
                        <li class="nav-item"><a class="nav-link active" href="#"
                                                style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);font-weight: normal;">Start</a>
                        </li>
                        <li class="nav-item" style="text-align: right;"><a class="nav-link" href="#"
                                                                           style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Profil</a>
                        </li>
                        <li class="nav-item" style="text-align: right;"><a class="nav-link" href="#"
                                                                           style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-center" id="logo">
            <picture><img src="assets/img/WatchClockLogo_Farbe_g.svg" width="15%" alt="WatchClock Logo"></picture>
        </div>
    </div>
    <div class="overflow-hidden"
         style="max-width: 80%;font-family: Signika, sans-serif;margin-right: 10%;margin-left: 10%;height: 60%;">
        <h2 class="text-center" style="text-align: left;margin-bottom: 3%;margin-top: -1%;">
            <br><strong>Impressum</strong></h2>
        <p data-aos="fade" style="font-family: Signika, sans-serif;font-size: 14px;text-align: center;margin-top: -2%;">
            <br><span style="text-decoration: underline;">Angaben gem. § 5 TMG:</span>Vorname, NameAdressePLZ<span
                style="text-decoration: underline;">Kontaktaufnahme:</span>Telefon:Fax:E-Mail:&nbsp;<strong>Umsatzsteuer-ID</strong><span
                style="text-decoration: underline;">&nbsp;Umsatzsteuer-Identifikationsnummer gem. § 27 a Umsatzsteuergesetz:</span>DE
            XXX XXX XXX<strong><span style="text-decoration: underline;">&nbsp;</span>Haftungsausschluss –
            Disclaimer:</strong><span style="text-decoration: underline;">Haftung für Inhalte</span>Alle Inhalte unseres
            Internetauftritts wurden mit größter Sorgfalt und nach bestem Gewissen erstellt. Für die Richtigkeit,
            Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter
            sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
            verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte
            oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine
            rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
            Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.Eine diesbezügliche Haftung ist jedoch
            erst ab dem Zeitpunkt der Kenntniserlangung einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
            den o.g. Rechtsverletzungen werden wir diese Inhalte unverzüglich entfernen.<span
                style="text-decoration: underline;">Haftungsbeschränkung für externe Links</span>Unsere Webseite enthält
            Links auf externe Webseiten Dritter. Auf die Inhalte dieser direkt oder indirekt verlinkten Webseiten haben
            wir keinen Einfluss. Daher können wir für die „externen Links“ auch keine Gewähr auf Richtigkeit der Inhalte
            übernehmen. Für die Inhalte der externen Links sind die jeweilige Anbieter oder Betreiber (Urheber) der
            Seiten verantwortlich.Die externen Links wurden zum Zeitpunkt der Linksetzung auf eventuelle Rechtsverstöße
            überprüft und waren im Zeitpunkt der Linksetzung frei von rechtswidrigen Inhalten. Eine ständige inhaltliche
            Überprüfung der externen Links ist ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht möglich. Bei
            direkten oder indirekten Verlinkungen auf die Webseiten Dritter, die außerhalb unseres
            Verantwortungsbereichs liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall nur bestehen,
            wenn wir von den Inhalten Kenntnis erlangen und es uns technisch möglich und zumutbar wäre, die Nutzung im
            Falle rechtswidriger Inhalte zu verhindern.Diese Haftungsausschlusserklärung gilt auch innerhalb des eigenen
            Internetauftrittes „<em>Name Ihrer Domain</em>“ gesetzten Links und Verweise von Fragestellern,
            Blogeinträgern, Gästen des Diskussionsforums. Für illegale, fehlerhafte oder unvollständige Inhalte und
            insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargestellten Informationen
            entstehen, haftet allein der Diensteanbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der
            über Links auf die jeweilige Veröffentlichung lediglich verweist.Werden uns Rechtsverletzungen bekannt,
            werden die externen Links durch uns unverzüglich entfernt.<span style="text-decoration: underline;">Urheberrecht</span>Die
            auf unserer Webseite veröffentlichen Inhalte und Werke unterliegen dem deutschen Urheberrecht (<a
                href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf" target="_blank">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>)
            . Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung des geistigen Eigentums in
            ideeller und materieller Sicht des Urhebers außerhalb der Grenzen des Urheberrechtes bedürfen der vorherigen
            schriftlichen Zustimmung des jeweiligen Urhebers i.S.d. Urhebergesetzes (<a
                href="http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf" target="_blank">http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf</a>&nbsp;).
            Downloads und Kopien dieser Seite sind nur für den privaten und nicht kommerziellen Gebrauch erlaubt. Sind
            die Inhalte auf unserer Webseite nicht von uns erstellt wurden, sind die Urheberrechte Dritter zu beachten.
            Die Inhalte Dritter werden als solche kenntlich gemacht. Sollten Sie trotzdem auf eine
            Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
            Rechtsverletzungen werden wir derartige Inhalte unverzüglich entfernen.Dieses&nbsp;<a
                href="https://jurarat.de/muster-impressum">Impressum</a>&nbsp;wurde freundlicherweise von&nbsp;<a
                href="https://jurarat.de/">jurarat.de</a>&nbsp;zur Verfügung gestellt.<br><br></p>
    </div>
    <footer class="footer-basic" style="background: rgba(255,255,255,0);margin-top: 0;margin-bottom: 0;padding-bottom: 0;padding-top: 60px;">
        <ul class="list-inline">
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">Home</a></li>
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"></li>
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">About</a></li>
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">Impressum</a></li>
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright" style="font-family: Signika, sans-serif;color: rgb(180,180,180);">WatchClock © 2021</p>
    </footer>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>