<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- Bootstrap CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Files -->
    <link href="/css/generalstyles.css" rel="stylesheet">
    <link href="/css/Footer-Basic.css" rel="stylesheet">

    <!-- Signika Font -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap" rel="stylesheet">

    <title>Login</title>
    <link href="/css/Login.css" rel="stylesheet">

</head>

<body>
    <section id="start" style="/*width: 100%;*//*height: 100vh;*/">
        <div id="start_head">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid"><button class="navbar-toggler" data-target="#navcol-1" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ml-auto" style="text-align: right;font-size: 20px;color: rgb(16, 85, 92);">
                            <li class="nav-item"><a class="nav-link active" href="/start" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);font-weight: normal;">Start</a></li>
                            <li class="nav-item" style="text-align: right;"><a class="nav-link" href="/profil" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Profil</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" style="text-align: right;"><a class="nav-link" href="/userUebersicht" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Userübersicht</a></li>
                            <li class="nav-item" style="text-align: right;"><a class="nav-link" href="/zeitUebersicht" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Zeitübersicht</a></li>
                            <li class="nav-item" style="text-align: right;"><a class="nav-link" href="/logout" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="text-center" id="logo">
                <picture><img src="/img/WatchClockLogo_Farbe_g.svg" width="15%" alt="WatchClock Logo"></picture>
            </div>
        </div>
        <div class="form-group" style="margin: 0 auto;width: 80%;margin-top: 5%;text-align: center;">
            <p class="text-muted ml-2" th:if="${view.error}">
                Es ist ein Fehler aufgetreten. Das neue Passwort muss enthalten: <br>
                - mindestens 5 Zeichen <br>
                - kleine und große Buchstaben <br>
                - mindestens 1 Sonderzeichen (@#$!?%_.:,;'^&+*=) <br>
                - mindestens 1 Zahl </p>
        </div>
        <form name="f" th:action="@{passwortAendern}" th:object="${view}" method="POST" style="background: rgba(255,255,255,0);">
        <div style="width: 100%;text-align: center;margin-top: 5%;margin-bottom: 1%;">
            <h2 style="font-family: Signika, sans-serif;">Passwort ändern</h2>
            <input th:field="*{altesPasswort}" name="oldpassword" placeholder="altes Passwort" style="font-family: Signika, sans-serif;height: 35px;color: rgb(16,85,92);font-size: 16px;text-align: left;border-radius: 10px;min-width: 300px;max-width: 350px;border-width: 2px;" type="password">
        </div>
        <div style="width: 100%;text-align: center;margin-top: 1%;margin-bottom: 1%;"><input th:field="*{neuesPasswort}" name="newpassword" placeholder="neues Passwort" style="font-family: Signika, sans-serif;height: 35px;color: rgb(16,85,92);font-size: 16px;text-align: left;border-radius: 10px;min-width: 300px;max-width: 350px;border-width: 2px;" type="password"></div>
        <div style="width: 100%;text-align: center;margin-top: 1%;margin-bottom: 1%;"><input th:field="*{neuesPasswortW}" name="newpassword2" placeholder="neues Passwort wiederholen" style="font-family: Signika, sans-serif;height: 35px;color: rgb(16,85,92);font-size: 16px;text-align: left;border-radius: 10px;min-width: 300px;max-width: 350px;border-width: 2px;" type="password"></div>
        <div class="text-center"><button class="btn btn-primary" type="submit" style="font-family: Signika, sans-serif;background: rgb(16,85,92);">Absenden</button></div>
        </form>
        <footer class="footer-basic"
                style="background: rgba(255,255,255,0);margin-top: 2%;margin-bottom: 0;padding-bottom: 0;padding-top: 3%;">
            <ul class="list-inline">
                <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">Home</a></li>
                <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"></li>
                <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">About</a></li>
                <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">Impressum</a></li>
                <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright" style="font-family: Signika, sans-serif;color: rgb(180,180,180);">WatchClock © 2021</p>
        </footer>
    </section>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>