<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WatchClock</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika:300,400,500,700">
    <link rel="stylesheet" href="/css/Footer-Basic.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <section id="start" style="/*width: 100%;*//*height: 100vh;*/">
        <div id="start_head">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ml-auto" style="text-align: right;font-size: 20px;color: rgb(16, 85, 92);">
                            <li class="nav-item"><a class="nav-link active" href="/start" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);font-weight: normal;">Start</a></li>
                            <li class="nav-item" style="text-align: right;"><a class="nav-link" href="/profil" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Profil</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" style="text-align: right;"><a class="nav-link" href="/userUebersicht" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Userübersicht</a></li>
                            <li class="nav-item" style="text-align: right;"><a class="nav-link" href="/zeitUebersicht" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Zeitübersicht</a></li>
                            <li class="nav-item" style="text-align: right;"><a class="nav-link" href="/logout" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="text-center" id="logo">
                <picture><img src="/img/WatchClockLogo_Farbe_g.svg" width="12%" alt="WatchClock Logo"></picture>
            </div>
        </div>
        <div class="table-responsive" style="margin: 0 auto;width: 550px;margin-top: 5%;text-align: center;">
            <table class="table">
                <tbody>
                    <tr th:each="user : ${view.users}">
                        <td class="cell_bold">Name</td>
                        <td class="cell_content"><span th:text="${user.vorname + user.nachname}"> Name </span></td>
                    </tr>
                    <tr>
                        <td class="cell_bold">Personalnummer</td>
                        <td class="cell_content"><span th:text="${user.personalNr}"> Personalnummer </span></td>
                    </tr>
                    <tr>
                        <td class="cell_bold">Geburtsdatum</td>
                        <td class="cell_content"><span th:text="${user.geburtsdatum}"> Geburtsdatum </span></td>
                    </tr>
                    <tr>
                        <td class="cell_bold">Email</td>
                        <td class="cell_content"><span th:text="${user.email}"> Email </span></td>
                    </tr>
                    <tr>
                        <td class="cell_bold">Wochenstunden</td>
                        <td class="cell_content"><span th:text="${user.sollArbeitszeit}"> SOllarbeitszeit </span></td>
                    </tr>
                    <tr>
                        <td class="cell_bold">Passwort</td>
                        <td style="text-align: left;"><a th:href="@{profil/passwortAendern}"><button class="btn btn-primary"  type="button" style="background: rgb(16,85,92);font-size: 18px;font-family: Signika, sans-serif;font-weight: normal;width: 60%;">Passwort ändern</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <footer class="footer-basic" style="background: rgb(255,245,104);/*padding-top: 0;*/margin-top: 0;">
        <ul class="list-inline">
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="/start" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">Home</a></li>
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">About</a></li>
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="/impressum" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">Impressum</a></li>
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright" style="font-family: Signika, sans-serif;color: rgb(0,0,0);">WatchClock © 2021</p>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>