<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>WatchClock</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Signika:300,400,500,700">
    <link rel="stylesheet" href="/css/Footer-Basic.css">
    <link rel="stylesheet" href="/css/generalStyles.css">
</head>

<body>
    <section id="start" style="/*width: 100%;*//*height: 100vh;*/">
        <div id="start_head">
            <nav class="navbar navbar-light navbar-expand-md">
                <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav ml-auto" style="text-align: right;font-size: 20px;color: rgb(16, 85, 92);">
                            <li class="nav-item"><a class="nav-link active" href="/start" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);font-weight: normal;">Start</a></li>
                            <li class="nav-item" style="text-align: right;"><a class="nav-link" href="/profil" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Profil</a></li>
                            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item" style="text-align: right;"><a class="nav-link" href="/userUebersicht" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Userübersicht</a></li>
                            <li class="nav-item" style="text-align: right;"><a class="nav-link" href="/zeitUebersicht" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Zeitübersicht</a></li>
                            <li class="nav-item" style="text-align: right;"><a class="nav-link" href="/logout" style="text-align: right;font-family: Signika, sans-serif;color: rgb(16,85,92);">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="text-center" id="logo">
                <picture><img src="/img/WatchClockLogo_Farbe_g.svg" width="15%" alt="WatchClock Logo"></picture>
            </div>
        </div>
        <div class="table-responsive" style="margin: 0 auto;width: 900px;margin-top: 5%;text-align: center;">
            <div class="text-left">
                <h3><a href="/download">Download</a></h3>
            </div>
            <table class="table">
                <thead style="color: rgb(255,255,255);font-family: Signika, sans-serif;font-weight: bold;background: #10555c;border-color: rgb(255,255,255);">
                <tr>
                    <th class="head_round">Datum</th>
                    <th class="head_round">Zeit</th>
                    <th class="head_round">Kommentar</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:if="${view.getZeitEintraege().isEmpty()}">
                        <td class="cell_round"> Keine Zeiteinträge vorhanden.</td>
                    </tr>
                    <tr th:each="zeiteintrag: ${view.getZeitEintraege()}">
                            <td class="cell_round" th:text="${zeiteintrag.datum}"></td>
                            <td class="cell_round"><span th:text="${zeiteintrag.berechneSaldo()[0]}"></span> h <span th:text="${zeiteintrag.berechneSaldo()[1]}"></span> min</td>
                            <td class="cell_round" th:text="${zeiteintrag.kommentar}"></td>
                     </tr>
                </tbody>
            </table>
        </div>
    </section>

    <footer class="text-center" style="color: rgb(16, 85, 92);background: #fff468;padding-bottom: 0px;margin-top: -3%;height: 80px;">
        <ul class="list-inline" style="padding-top: 10px;">
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="/start" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">Home</a></li>
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="/about" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">About</a></li>
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="/impressum" style="font-family: Signika, sans-serif;color: rgb(16,85,92);">Impressum</a></li>
            <li class="list-inline-item" style="font-family: Signika, sans-serif;color: rgb(16,85,92);"><a href="#" style="color: rgb(16,85,92);">Privacy Policy</a></li>
        </ul>
        <p class="copyright" style="font-family: Signika, sans-serif;color: rgb(0,0,0);">WatchClock © 2021</p>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>