body {
  color: rgb(16,85,92);
  background: rgb(255,255,255);
}

#start {
  width: 100%;
  height: 100vh;
  background: url("/img/BG.png") center / cover no-repeat;
}

.head_round {
  border-style: solid;
  border-color: rgb(255,255,255);
  border-width: 5px;
  border-radius: 10px;
}

.cell_round {
  border-style: solid;
  border-color: rgb(16,85,92);
  border-width: 2px;
  border-radius: 10px;
  /*border: 2px solid rgb(16,85,92);*/
  /*border-radius: 20px;*/
  color: rgb(16,85,92);
  font-family: Signika, sans-serif;
  font-weight: normal;
  text-align: center;
}

.btn.btn-primary {
  width: 150px;
  /*margin-right: 10%;*/
  /*margin-top: 10%;*/
  color: rgb(255, 255, 255);
  font-family: Signika, sans-serif;
  font-weight: bold;
  border-radius: 50px;
}

